<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home of sajib</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all">
    
</head>
<body>

    <div>
        <h1>home of sajib</h1>
    
        <img id="centerpic" src="computercat.jpg" alt="">
        <p>what r u doing here bro</p>

    </div>
    <nav>
        <a href="/">home</a>
        <br>
        <a href="/posts">posts</a> / 
        <a href="/about">about</a> /
        <a href="/misc">misc</a>
        <br>
        <a href="/updates">site updates</a>
    </nav>
    <footer>
        <iframe src="footer.html" name="footer" title="footer" style="border:none;" height="20px"></iframe>
    </footer>
</body>
</html>