<!DOCTYPE html>
<html>
  <head>
    {{ partial "statushead.html" . }}
  </head>
  <body>
    {{- partial "head.html" . -}}
    <div class="page">
      {{ $background_path :=  "vecteezy_otters-animal-cartoon-illustration_43275003.png" }}
      {{ with .Site.Params.cover }}
      {{ $background_path = . }}
      {{ end }}
      {{ if resources.Get $background_path }}
      {{ $background_path = (resources.Get $background_path).RelPermalink }}
      {{ end }}
      <div class="jumbotron" style="background-image: url({{ $background_path }});">
      </div>{{ block "main" . }} {{ end }}
      
      <!-- Pagination -->
      <div class="center">
        {{ if not .Site.Params.infiniteScroll }}

        <div class="pagination">{{ block "pagination" . }} {{ end }}</div>

        {{ end }}
      </div>

      {{ partial "footer.html" . }}
    </div>

    {{ partial "after-content-js.html" . }}
  </body>
</html>
