{{ define "main" }}
<main>
	<article>
		<div class="title">
		{{ if eq .Type "posts" }}
			<!-- Style for posts -->
			<h1 class="post-title">{{ .Title }}</h1>
		{{ else }}
			<!-- Style for custom pages -->
			<h1 class="page-title">{{ .Title }}</h1>
		{{ end }}

		<div class="meta">
		{{ if eq .Type "posts" }}
			{{ if isset .Params "showdate" }}
				{{ if .Params.showdate }}
				Posted on {{ dateFormat "Jan 2, 2006" .Date }}
				{{ end }}
			{{ else }}
				Posted on {{ dateFormat "Jan 2, 2006" .Date }}
			{{ end }}
			{{ if .Draft }} <span class="draft-label">DRAFT</span> {{ end }}
		{{ end }}
		</div>
		</div>
		{{ if isset .Params "tldr" }}
		<div class="tldr">
			<strong>tl;dr:</strong>
			{{ .Params.tldr }}
		</div>{{ end }}

		<section class="body">
			{{ .Content }}
		</section>

		{{ if eq .Type "posts" }}
		<div class="post-tags">
			{{ if gt .Params.tags 0 }}
			<div class="tags-container">
				<span class="tags-label">Tags:</span>
				<ul class="tags-list">
					{{ range .Params.tags }}
					<li class="tag-item"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a></li>
					{{ end }}
				</ul>
			</div>
			{{ end }}
		</div>
		{{ end }}
		{{- $.Scratch.Set "isDisqus" true -}}
		<!-- Check if disqus short name is given -->
		{{ if not .Site.Config.Services.Disqus.Shortname }}
		{{- $.Scratch.Set "isDisqus" false -}}
		{{ end }}

		{{- if eq ($.Scratch.Get "isDisqus") true -}}
		{{- partial "disqus.html" . -}}
		{{- end -}}
	</article>
</main>
{{ end }}
