body {
  color: #e7e7e7;
  background-color: var(--darkMaincolor);
  background-image: linear-gradient(rgba(44, 41, 35, 1) 1px, transparent 1px),
    linear-gradient(90deg, rgba(44, 41, 35, 1) 1px, transparent 1px);
}

::-moz-selection {
  background: blue;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: red;
  color: #fff;
  text-shadow: none;
}

hr {
  border-top: 3px dotted blue;
}
code {
  background-color: #292929;
  color: inherit;
  text-decoration: bold;
  padding: 0.1em 0.2em;
}
pre {
  background-color: #2c2b2b !important;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}

blockquote {
  border-color: blue;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #cacaca;
}

a {
  border-bottom: 3px solid var(--darkMaincolor);
  color: inherit;
}
a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}
footer {
  border-top: 1px solid var(--darkMaincolor);
}
.site-description a {
  color: #ddd;
}
.site-description a:hover {
  color: black;
}

.tags a {
  border-bottom: 3px solid var(--darkMaincolor);
}
.tags a:hover {
  background-color: var(--darkMaincolor);
  color: black;
}

.title h1 {
  color: white;
}
.site-title a {
  color: white;
  text-decoration: none !important;
}

.header nav,
.footer {
  border-color: #333;
}

nav {
  background-color: #1e1d19;
}
nav a {
  color: #e7e7e7;
}
.highlight {
  background-color: #333;
}
.soc:hover {
  color: black;
}
.draft-label {
  color: var(--darkMaincolor);
  background-color: blue;
}
