/* Markdown */
:root{
--maincolor: red;
--bordercl:#035F31;
--callouctcolor:dodgerblue;
--hovercolor:navy;
--darkMaincolor: #6f0600;
}
html {
  color: #232333;
  font-size: 15px;
  line-height: 1.6em;
}
body{
  background-color: #f0e5d2;
	color: #035F31;
  display: block;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  font-family: Comic Mono; font-size: 100%; line-height: 1.5;
}
* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

::selection {
  background: var(--maincolor);
  color: #fff;
}

p {
  padding-bottom: 5px;
}

hr {
  border: 0;
  border-top: 1px solid var(--bordercl);
  margin: 1em 0;
}

blockquote {
  border-left: 3px solid var(--bordercl);
  color: #737373;
  margin: 0;
  padding-left: 1em;
}

a {
  border-bottom: 3px;
  color: #004F9E;
  text-decoration: none;
}
a:hover {
    background-color: var(--hovercolor);
    color: #fff;
}
a:visited {
    color: #5A2C1B;
}
ul {
  text-align: left;
  list-style: none;
  padding-left: 2ch;
}
li {padding-bottom: 3px;}

ul li {
  text-indent: -2ch;
}
ul > li::before {
  content: '* ';
  font-weight: bold;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

figure {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  max-width: 100%;
}

figure img {
  max-height: 500px;
}

@media screen and (min-width: 600px) {
  figure {
    padding: 0 40px;
  }
}

figure h4 {
  font-size: 1rem;
  margin: 0;
  margin-bottom: 1em;
}
figure h4::before {
  content: '↳ ';
}

/* Code blocks */
code {
  font-family: Comic Mono;
  font-size: 95%;
  background-color: #f1f1f1;
  padding: .1em .2em;
}

pre {
  background-color: #f5f5f5;
  line-height: 1.4;
  overflow-x: auto;
  padding: 1em;
}


.highlight pre ::selection {
  background: rgba(255, 255, 255, 0.2);
  color: inherit;
}

pre code {
  background-color: transparent;
  color: inherit;
  font-size: 100%;
  padding: 0;
}

/* Containers */
.content {
  margin-bottom: 4em;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 0 1ch;
  word-wrap: break-word;
}

/* Header */
header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  line-height: 2.5em;
}

header .main {
  font-size: 1.5rem;
}
nav {padding: 20px; text-align: center;}

h1, h2, h3, h4, h5, h6 {
  font-size: 1.2rem;
  margin-top: 2em;
}

article h1::before,
article h2::before,
article h3::before,
article h4::before,
article h5::before,
article h6::before {
  color: var(--maincolor); content: '# '; 
  }

h1 {font-size: 140%;}
h2 {font-size: 130%;}
h3 {font-size: 115%;}

h1.paper{
  background: url(/images/header.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: cover;

  margin: 10px 0;
  padding: 5px 20px;
  width: fit-content;
  box-shadow: 1px 1px 1px 0px black;

  font-family: Typewriter, monospace;
  font-size: 1.5em;
  text-align: left;

  transform: rotate(-1deg);
}

.meta {
  color: #999;
  letter-spacing: -0.5px;
}

/* Footer */
footer {
  font-size: 85%;
  display: flex;
  align-items: center;
  border-top: 1px solid var(--bordercl);
  padding: 10px;
  margin-top: 2rem;
}
.soc {
  display: flex;
  align-items: center;
  border-bottom: none;
}
.border {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: 1px solid;
}
.footer-info {
  padding: var(--footer-padding);
}

/* Common */
.title h1 {
  margin-bottom: 0;
}

time {
  color: grey;
}

/* Posts */
article .title {
  margin-bottom: 1em;
}


/* Callout */
.callout {
  background-color: var(--callouctcolor);
  color: #fff;
  padding: 1em;
}

.callout p {
  font-family: 'IBM Plex Mono', monospace;
  margin: 0;
}

.callout a {
  border-bottom: 3px solid #fff;
}

.callout a:hover {
  background-color: #fff;
  color: var(--callouctcolor);
}

.site-description {
display: flex;
justify-content: space-between;
}
.tags li::before{
  content: "🏷 ";
}
.tags a{
  border-bottom: 3px solid var(--maincolor); 
}
.tags a:hover{
  color:white;
  background-color: var(--hovercolor); 
}
svg{
  max-height: 15px;
}
.soc:hover{
  color: white;
}
.draft-label{ 
    color: var(--bordercl);
    text-decoration: none;
    padding: 2px 4px;
    border-radius: 4px;
    margin-left: 6px;
    background-color: #f9f2f4;
}
.highlight {
  position: relative;
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"] {
  -webkit-overflow-scrolling: touch;
}
.highlight pre code[class*="language-"]::before {
  background: black;
  border-radius: 0 0 0.25rem 0.25rem;
  color: white;
  font-size: 12px;
  letter-spacing: 0.025rem;
  padding: 0.1rem 0.5rem;
  position: absolute;
  right: 1rem;
  text-align: right;
  text-transform: uppercase;
  top: 0;
}

.highlight pre code[class=language-javaScript]::before,
.highlight pre code[class="language-js"]::before {
content: "js";
background: #f7df1e;
color: black;
}
.highlight pre code[class*='language-yml']::before,
.highlight pre code[class*='language-yaml']::before {
content: 'yaml';
background: #f71e6a;
color: white;
}
.highlight pre code[class*='language-shell']::before,
.highlight pre code[class*='language-bash']::before,
.highlight pre code[class*='language-sh']::before {
content: 'shell';
background: green;
color:white
}
.highlight pre code[class*='language-json']::before{
content: 'json';
background: dodgerblue;
 color: #000000 
}
.highlight pre code[class*='language-python']::before,
.highlight pre code[class*='language-py']::before {
content: 'py';
background: blue;
color: yellow ;
}
.highlight pre code[class*='language-css']::before{
content: 'css';
background: cyan;
color: black ;
}
.highlight pre code[class*='language-go']::before{
content: 'Go';
background: cyan;
color: royalblue ;
}
.highlight pre code[class*='language-md']::before,
.highlight pre code[class*='language-md']::before{
content: 'Markdown';
background: royalblue;
color: whitesmoke ;
}

/* table */
table {
  border-spacing: 0;
  border-collapse: collapse;
}

table th{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
  font-size: large;
}

table td{
  padding: 6px 13px;
  border: 1px solid #dfe2e5;
}

/* Music album list */
#music-album-list div{
  max-width: 140px;
}

/* Gallery */
.gallery{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.gallery-item{
  margin: 5px;
}

.gallery-item img{
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.25);
}

.gallery-item figcaption{
  margin: 5px;
}

.gallery-item a > img:hover{
  transition: 200ms;
  filter: brightness(110%);
}

.gallery-item a > img:active{
  transition: 30ms;
  transform: scale(0.95);
}

.gallery-item p{
  line-height: 15px;
}

.no-space-before {
  margin-left: -8px; /* Adjust margin as needed */
}

#copyStatus {
  margin-top: 15px;
  color: var(--copy-status-color);
}

.hidden {
  display: none;
}
