---
const year = new Date().getFullYear();
---

<footer>
	<span class="footer-copy">© {year} Sajib</span>
	<a href="https://github.com/SAJIBxD" target="_blank" rel="noopener" class="footer-github"
		>github.com/SAJIBxD</a
	>
</footer>