<!DOCTYPE html>
<html>
  <title>home of sajib</title>
  {{ partial "header.html" . }}
  <body>
    <div class="content">
      <h1>Sajib's Space</h1>
      <main>
        <div>
          <img id="centerpic" src="computercat.jpg" alt="" />
          <p>
            What r u doing here bro? We know you didn't mean to end up here, but
            we must inform you that you won't find anything of value on this
            site. We suggest you leave and try your luck elsewhere.
          </p>
        </div>
        <div align="center">
          <a href="{{ .Site.BaseURL }}">Home</a>
          <br />
          <a href="{{ .Site.BaseURL }}posts">Posts</a> /
          <a href="{{ .Site.BaseURL }}about">About</a> /
          <a href="{{ .Site.BaseURL }}music">Music</a> /
          <a href="{{ .Site.BaseURL }}misc">Misc</a>
          <br />
          <a href="{{ .Site.BaseURL }}updates">Site Updates</a>
        </div>
      </main>
    </div>
    {{ if eq .Site.Params.mode "toggle" -}}
      <script src="{{ "js/themetoggle.js" | relURL }}"></script>
    {{ end }}
    {{ partial "footer.html" . }}
  </body>
</html>
