<!DOCTYPE html>
<html>
	<title>home of sajib</title>
	{{ partial "header.html" . }}
	<body>
		<div class="content">
			{{ partial "head.html" . }}
			<h1>Sajib's Space</h1>
			<main>
				<div>
					<img id="centerpic" src="computercat.jpg" alt="">
					<p>What r u doing here bro</p>
				</div>
				<nav>
					<a href="/">Home</a>
					<br>
					<a href="/posts">Posts</a> / 
					<a href="/about">About</a> /
					<a href="/music">Music</a> /
					<a href="/misc">Misc</a>
					<br>
					<a href="/updates">Site Updates</a>
				</nav>
			</main>
			{{ partial "footer.html" . }}
		</div>
	</body>
</html>
